# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

*.iml
.gradle
/local.properties
.DS_Store
*/build
sample/*/build
/captures
.externalNativeBuild
.cxx
local.properties
*.patch
.idea/
